.popup {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1000;
  background-color: #333;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  animation: fadeInOut 5s ease-in-out;
  overflow: hidden;
}

.popup-content {
  margin: 0.5rem 1rem 0.5rem 1rem;
  
}

.progress-bar {
    height: 4px;
    background: #159dee;
    border-radius: 8px;
    animation: shrinkBar 4.5s linear forwards;
    transform-origin: left;
    width: 100%;
}

@keyframes shrinkBar {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    } 
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
